body {
    background-image: url("/image/mountain-range-9842371_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.heading {
    text-align: center;
    font-size: 40px;
    text-transform: capitalize;
}

.t_para {
    font-size: 20px;
    line-height: 25px;
    color: black;
    padding: 20px 30px 20px 30px;
    margin: 10px 20px 10px 20px;
}