.b_img1 {
    border: 4px solid rgb(138, 28, 28);
}

.b_img2 {
    width: 540px;
    border: 4px dashed blue;
}

.b_img3 {
    height: 350px;
    width: 540px;
    border: 7px double green;
}

.b_img4 {
    height: 350px;
    width: 540px;
    border: 8px dotted black;
}

.b_img5 {
    width: 550px;
    height: 550px;
    border: 8px groove orange;
}

.b_img6 {
    height: 500px;
    width: 500px;
    border: 10px solid;
    border-top-color: red;
    border-bottom-color: yellow;
    border-right-color: orange;
    border-left-color: blueviolet;

}

.b_img7 {
    border: 15px double aqua;
    /* border-radius: 22px; */
}

.b_img8 {
    height: 500px;
    width: 500px;
    border: 10px solid black;
    /* border: 10px solid rgb(65, 193, 45)    ;
    border-top-left-radius: 25px ;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 30px; */
    border-radius: 50px 70px 50px 70px;
    border-color: yellow gray orange blue;

}