.box_model1 {
    border: 6px solid red;
    padding: 33px;
    margin: 44px;
}

.simple {
    border: 6px solid red;
}

.box_model2 {
    border: 4px solid black;
    /* padding-top: 30px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px; */
    padding: 10px 40px 10px 40px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

.box_model4 {
    border: 4px solid orange;
    margin: 50px 40px 50px 40px;
    padding: 10px 20px;

    /* 20px-margin-top
    40px-margin-right
    20px-margin-bottom
    30px-margin-left */
}