.heading1 {
    color: yellow;
    font-size: 50px;

}

#heading1 {
    font-size: 35px;
    color: red;

}

.heading2 {
    color: #ffd700;
    font-size: 60px;
    font: italic bold 800 verdana;
}

#heading2 {
    color: #000000;
    font-size: 80px;
    font: italic bold  verdana;

}