.flex-item { 
    width: 200px;
    height: 150px;
    margin-top: 10px;
    background-color: orange;
    color: black;
    font-size: 50px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    /* flex-direction: row; */
    /* justify-content: space-around; */

}
 
/*  flex-gallary */

.flex-conainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flex-gallary{
    height: 150px;
    width: 220px;
    margin-top: 20px;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    border: 5px solid black;
}