h1{
  color: red;
  font-size: 35px;

}
h1:hover{
    color: orange;
    font-size: 50px;
    font-family: monospace;
    text-decoration: underline;
    text-transform: uppercase;
}
.para_bg{
    border: 5px solid black;
    background-color: chartreuse;
    
}
.para_bg:hover{
    border: 2px solid red;
    padding: 10px;
    background-color: white;
    color: black;
    background: radial-gradient(orange,green);
}
h2:active{
    color: rebeccapurple;
    font-size: 45px;
    
}
a:visited{
    color: crimson;

}
input:focus{
    background-color: black;
    color: white;
    border: 5px solid yellowgreen;
}
p::first-letter{
    color: red;
    font-size: 50px;
}
p::first-line{
    color: blue;
    font-size: 15px;
}
::selection{
    color: red;
    background-color: yellow;
    margin-top: 2px;
}