h1{
    font-size:100px;
    background-color: yellowgreen;
}
p{

    font-size: 20PX;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.img1{
    height: 450px;
    width: 500px;
}
@media only screen and (){
    
}
@media(min-width:760px){
    body{
        background-color: green;

    }
    h1{
        color: red;
        font-style: 25px;
    }
    .img1{
        height: 200px;
        width: 250px;


    }
    
}