.img_b_shadow {
    height: 450px;
    width: 450px;
    box-shadow: 5px 5px 7px red;
}

.img_b_shadow2 {
    height: 450px;
    width: 450px;
    box-shadow: -10px -10px 7px greenyellow;
}

.img_b_shadow3 {
    height: 450px;
    width: 450px;
    box-shadow: 12px 10px 5px #6cb0db;
}
.img_d_shadow{  
    width: 800px;
    filter: drop-shadow(10px 10px 10px red);

}
.img_d_shadow2{
    height: 350px;
    width: 800px;
    filter: drop-shadow(10px 10px 12px rgb(255, 149, 49));
}