div {
    width: 500px;
    height: 500px;
    border-radius: 40px;
    background-color: yellow;
    border: 2px solid black;
    animation: movingbox;
    position: relative;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

@keyframes movingbox {
    0% {
        background-image: url("/image/bird-7902319_640.jpg");
    }

    25% {
        background-image: url("/image/tiger-3264048_640.jpg");
    }

    50% {
        background-image: url("/image/R3000302.jpg");
    }

    75% {
        background-image: url("/image/images.jpg");
    }

    100% {
        background-image: url("/image/water-lily-3504363_640.jpg");
    }
}