.container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    letter-spacing: 0px;
    font-size: 80px;
    font-weight: 800;
    perspective: 5px;
    
}
.container > b{
    height: 100px;
    box-shadow: 0px 10px 5px #808080;
    background: linear-gradient( red,orange,yellow,aqua);
    background-clip: text;
    color: transparent;
    transform-origin: top;
    animation: getup 5s infinite;



}
.container>b:nth-child(1)
{
    animation-delay: 0s;
    background-color: yellowgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100px;
}
.container>b:nth-child(2)
{
    animation-delay: 0.25s;
}
.container>b:nth-child(3)
{
    animation-delay: 0.50s;
}
.container>b:nth-child(4)
{
    animation-delay: 0.75s;
}
.container>b:nth-child(5)
{
    animation-delay: 1s;
}
.container>b:nth-child(6)
{
    animation-delay: 1.25s;
}
.container>b:nth-child(7)
{
    animation-delay: 1.50s;
}

@keyframes getup{
    from{transform: rotateX(45deg);}
    10%,50%{transform: rotateX(0);}
    60%,to{transform: rotateX(45deg);}
     
}