.container_a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-left: 30px; */
    gap: 30px;
    padding-top: 50px;
}

.box {
    background-color: chocolate;
    border-radius: 10px;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    transition: transform 2s ease-out 500ms;


}

.box1:hover {
    transform: translate(325px, 225px);

}

.box2:hover {
    transform: translateX(-100px);

}

.box3:hover {

    transform: translateY(100px);
}

.box4:hover {
    transform: rotate(-720deg);
}

.box5:hover {
    transform: skewX(50deg);
}

.box6:hover {
    transform: skewY(100deg);
}

.box7:hover {
    transform: scale(3);
}

.box8:hover {

    transform: scale(1) rotate(40deg) translate(20px) skew(25deg);
}